.jumbotron.jumbotron_center
	.container
		.row
			.col-md-8
				h1= __('GrãoJS!')
				blockquote
					p= __('O GrãoJS....')
					em= __('Havendo olhos suficientes, todos os erros são óbvios.') 
					small= __('Por')
						|  
						cite(title='The Cathedral and the Bazaar') Eric Steven Raymond
					p 
						a.btn.btn-lg.btn-info= __('Saiba mais')
.container
	.row
		.col-md-4
			h3= __('A Framework')
			p= __('...')
			p 
				a.btn.btn-primary(href='/')= __('Leia mais')
		.col-md-4
			h3= __('Scaffolding')
			p= __('...')
			p 
				a.btn.btn-primary(href='/')= __('Leia mais')
		.col-md-4
			h3= __('Segurança')
			p= __('...') 
			p 
				a.btn.btn-primary(href='/')= __('Leia mais')